body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: transparent;
}

body::-webkit-progress-bar {
    scroll-behavior: smooth;
}


/* STYLES FOR NAVIGATION BAR */

.navbar {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin-right: 50px;
    z-index: 111;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.logo img {
    z-index: 111;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 30px 30px 40px 60px;
}

.logo .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
  font-weight: bolder;
  font-size: 2.7rem;
  color: #fff; 
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

 li {
    list-style: none;
}

.nav-links .nav-ul a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    position: relative;
}


.nav-links li a.active::after {
    content: "";
    display: block;
    background: #fb8500;
    height: 5px;
    width: 45%;
    position: absolute;
    bottom: -20px;
    border-radius: 20px;
    transition: 2s ease;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.contacts .contact-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contacts .contact-lists a {
    color: #fb8500;
    text-decoration: none;
    font-size: 12px;

}

.contacts .contact-lists .fa {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.btn {
    font-family: "Montserrat", sans-serif;
    height: 40px;
    padding: 0 20px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px 20px 20px 20px;
    border: transparent;
    color: #fff;
    background: #fb8500;
    transition: 1s ease linear;
}

.btn:hover {
    background: #bb3e03;
    cursor: pointer;
}

.toogle-buttons {
    display: none;
    justify-content: center;
    align-items: center;
}

.toogle {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.options {
    display: none;
}

/* STLYLES FOR HOME PAGE */

.container {
    height: 100vh;
    font-family: "Montserrat", sans-serif;

}

section.home, #home {
    background: rgb(114, 184, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chameleon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-left: 2rem;
    color: #fff;
}

.title {
    font-size: 2.5rem;
    font-family: "Itim", cursive;
    color: #fff;
}

.chameleon img {
    object-fit: cover;
    width: 700px;
    height: 640px;
}

.description {
    font-size: 1rem;
    font-weight: 500;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    gap: 3rem;
}
.buttons button {
    text-transform: capitalize;
    background: #fb8500;
    outline: none;
    box-sizing: border-box;
    border: transparent;
    padding: 10px 20px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: .97rem;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
    transition: color 1s ease;
}

.buttons :nth-child(2) {
    background: transparent;
    border: 2px solid#fff;
    transition: color 1s ease;
}

.buttons :nth-child(2):hover {
    background: #fff;
    color: black;
}

.buttons button:hover {
    background: #bb3e03;
}

/* ABOUT PAGE STYLING */

section.about {
    background: rgb(255, 199, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.giraffe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giraffe img {
    object-fit: cover;
    width: 500px;
    height: 640px;
    position: absolute;
    left: 6rem;
}

.about-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    right: -1rem;
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.rhino {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhino img {
    object-fit: cover;
    width: 690px;
    height: 600px;
    padding-top: 40px;
}

/* VIDEO DUCUMETARY SECTION STYLES */
.all-container {
    background-color: rgb(0, 171, 225);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100vw;
    gap: 5rem;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 300px;   
}

video {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    object-fit: cover;
    width: 430px;
    height: 250px;
    margin-right: 5rem;
    margin-top: 7rem;
}

source {
    display: flex;
    justify-content: center;
    align-items: center;
}
video:focus {
    outline: none;
}

.svg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svg-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    padding-left: 2rem;
    margin-top: 2rem;
    color: #fff;
}

.svg-icon img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.information .title {
    padding-left: 4rem;
}

.icon-name {
    font-size: 1rem;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    line-height: 22px;
}

.information .description {
    text-align: start;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding-left: 4rem;
    font-family: "Montserrat", sans-serif;
}

.information {
    position: relative;
}

.information .buttons {
    position: absolute;
    bottom: -25%;
    left: 8%;
    font-family: "Montserrat", sans-serif;
}

/* STYLES FOR PARROTS SECTION */

.parrots {
    background: rgb(119, 76, 190);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.both-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    position: relative;
    color: #fff;
}

.bird {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 750px;
    position: absolute;
    left: -15%;
}

.bird img {
    width: 70%;
    height: 85.6%;
}

.svg-grid {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 50%;
}

.svg-grid .title {
    text-transform: capitalize;
}

.svg-col {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.svg-row {
    padding-bottom: 2rem;
}

.svg-row i {
    color: #fff;
    font-size: 2.5rem;
    background: #FFD600;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    border-radius: 50% 25% 50% 25%;
    opacity: 1;
}

.svg-row h3 {
    text-transform: capitalize;
    font-size: medium;
}

.svg-row p {
    font-size: small;
}

/* SLIDER SECTION STYLES */

 .slide-container {
    width: 100vw;
    height: 100%;
    background: rgb(219, 81, 81);
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    position: relative;
}

.title-head {
    text-transform: capitalize;
    font-size: 2.5rem;
    font-family: "Itim", cursive;
    color: #fff;
    position: absolute;
    top: -15px;
}

.image-slider {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    object-fit: contain;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 8px;
}
.img { 
    width: 150px;
    height:320px;
    object-fit: cover;
    transition: .9s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(1.2px);
}

.img.active {
    width: 290px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

.button-i {
    position: absolute;
    width: 150px;
    height: 320px;
    transition: .5s;
    background-color: transparent;
}


/* #slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
    width: 320px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
    width: 320px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#slider-span3:target ~ .image-slider #img3.active,
#slider-span3:target ~ .image-slider #button-3 {
    width: 320px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
    width: 320px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5 {
    width: 320px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6 {
    width: 320px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7 {
    width: 320px;
    height: 500px;
    background-color: transparent;
    filter: saturate(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
} */

/* #slider-span1:target ~ .image-slider {left: 70%;}
#slider-span2:target ~ .image-slider {left: 50%;}
#slider-span3:target ~ .image-slider {left: 25%;}
#slider-span5:target ~ .image-slider {left: -25%;}
#slider-span6:target ~ .image-slider {left: -50%;}
#slider-span7:target ~ .image-slider {left: -70%;} */

.slide-navigations {
    width: 10%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: absolute;
    bottom: 0;
}

.slide-navigations .fa-solid {
    color: #fff;
    font-size: 1.2rem;
    opacity: 0.8;
    cursor: pointer;
} 

/* TICKETS PRICES STLYES */
.ticket-container {
    background: rgb(65, 90, 222);
    height: 100%;
    width: 100vw;
    display: grid;
    place-content: center;
    position: relative;
    color: #fff;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -100px;
    width: 100%;
    height: 100%;
}

.content, .info-text {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.content-box {
    padding: 10px;
}

#bold {
    font-weight: bold;
}

#light {
    font-size: 13px;
}


.content-box .price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.line {
    height: 1px;
    width: 100%;
   background: #fff;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 30px;
}

.header{
    font-size: 1.5rem;
    font-family: "Itim", cursive;
    text-align: center;
}

 .price {
    font-weight: bolder;
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-click {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-click button {
    outline: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: color .7s ease;
    font-weight: bold;
}

.button-click button:hover {
    background: #fff;
    color: black;
    font-weight: bold;
}

/*.prices {
   text-align: center;
   margin-left: 55px;
} */

.thumbnail-container {
    margin: 0 20px 0 30px;
    background:rgba(65, 90, 222, 0.6);
    padding: 0 15px 30px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.bird-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 17px;
    bottom: 0;
}

.bird-container img {
    width: 370px;
    height: 600px;
}

/* CONTACT US STYLES */
.contact-us {
    width: 100%;
    height: 100%;
    background: rgb(68,170,78);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.contact-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.maps {
    height: 500px;
    width: 50%;
    background: red;
}



/* MEDIA QUERY FOR MEDIUM SCREENS */
@media screen and (min-width: 500px) and (max-width: 1024px) {
    .navbar {
        width: 100%;
        
        padding: 5px;
        background: transparent;
    }

    .toogle-buttons {
        display: flex;
        position: absolute;
        left: -5px;
        font-size: 22px;
    } 

    .nav-links li a.active::after {
        display: none;
    }
    
    .nav-links {
        display: none;
        position: absolute;
        top: 3.58rem;
        background: transparent;
        left: 0;
        width: unset;

    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        padding: 25px;
    }

    .nav-ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .contacts {
        display: none;
        position: absolute;
        top: 3.58rem;
        right: 0px;
        background: transparent;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }

    .contact-lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contacts .contact-lists li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        overflow: hidden;
        left: 45%;
    }
    
    .logo img {
        z-index: 111;
        width: 40px;
        height: 45px;
        object-fit: cover;
        border-radius: 30px 30px 40px 60px;
    }

    .logo .logo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Shadows Into Light", cursive;
      font-weight: bolder;
      font-size: 2rem;
      color: #fff; 
    }

    #close, #close-menu {
        display: none;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        font-size: 22px;
    }

    .nav-links .nav-ul a {
        text-align: center;
 
}}


/* MEDIA QUERY FOR SMALL SCREEN RESPONSIVENESS */

@media screen and (min-width: 280px) and (max-width: 480px) {

    .navbar {
        width: 100%;
        padding: 5px;
    }

    .toogle-buttons {
        display: flex;
        position: absolute;
        left: -5px;
        font-size: 22px;
    } 
    
    .nav-links {
        display: none;
        position: absolute;
        top: 3.58rem;
        background: transparent;
        left: 0;
        width: unset;
    }

    .nav-links li a.active::after {
        display: none;
    }

    .toogle li {
        cursor: pointer;
    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        padding: 20px;
    }

    .nav-ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .contacts {
        display: none;
        position: absolute;
        top: 3.58rem;
        right: 0px;
        background: transparent;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }

    .contact-lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contacts .contact-lists li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
    }

    .contacts .contact-lists li a {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .btn {
        width: 100% ;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        overflow: hidden;
        left: 35%;
    }
    
    .logo img {
        z-index: 111;
        width: 40px;
        height: 45px;
        object-fit: cover;
        border-radius: 30px 30px 40px 60px;
    }

    .logo .logo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Shadows Into Light", cursive;
      font-weight: bolder;
      font-size: 1.7rem;
      color: #fff; 
    }

    #close, #close-menu {
        display: none;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        font-size: 22px;
    }

    .nav-links .nav-ul a {
        text-align: center;
    }
}