body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: transparent;
}

body::-webkit-progress-bar {
    scroll-behavior: smooth;
}

.navbar {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin-right: 50px;
    z-index: 111;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* max-width: 70px;
    height: 40px; */
    overflow: hidden;
}

.logo img {
    z-index: 111;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 30px 30px 40px 60px;
}

.logo .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Shadows Into Light", cursive;
  font-weight: bolder;
  font-size: 2.7rem;
  color: #fff; 
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

 li {
    list-style: none;
}

.nav-links .nav-ul a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    position: relative;
}


.nav-links li a.active::after {
    content: "";
    display: block;
    background: #fff;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: -20px;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.contacts .contact-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contacts .contact-lists a {
    color: #fb8500;
    text-decoration: none;
    font-size: 12px;

}

.contacts .contact-lists .fa {
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.btn {
    font-family: "Montserrat", sans-serif;
    height: 40px;
    padding: 0 20px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px 20px 20px 20px;
    border: transparent;
    color: #fff;
    background: #fb8500;
    transition: 1s ease linear;
}

.btn:hover {
    background: #bb3e03;
    cursor: pointer;
}

.toogle-buttons {
    display: none;
    justify-content: center;
    align-items: center;
}

.toogle {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.options {
    display: none;
}

section {
    height: 100vh;
    display: grid;
    place-items: center;
    ;
}

section#home {
    background: rgb(114, 184, 5)
}

/* MEDIA QUERY FOR MEDIUM SCREENS */
@media screen and (min-width: 500px) and (max-width: 1024px) {
    .navbar {
        width: 100%;
        /* position: fixed; */
        padding: 5px;
        background: transparent;
    }

    .toogle-buttons {
        display: flex;
        position: absolute;
        left: -5px;
        font-size: 22px;
    } 

    .nav-links li a.active::after {
        display: none;
    }
    
    .nav-links {
        display: none;
        position: absolute;
        top: 3.58rem;
        background: transparent;
        left: 0;
        width: unset;

    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        padding: 25px;
    }

    .nav-ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    /* .nav-links .nav-ul a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 20px;
    } */
    

    .contacts {
        display: none;
        position: absolute;
        top: 3.58rem;
        right: 0px;
        background: transparent;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }

    .contact-lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contacts .contact-lists li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        /* max-width: 70px;
        height: 40px; */
        overflow: hidden;
        left: 45%;
    }
    
    .logo img {
        z-index: 111;
        width: 40px;
        height: 45px;
        object-fit: cover;
        /* margin-right: 10px; */
        border-radius: 30px 30px 40px 60px;
    }

    .logo .logo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Shadows Into Light", cursive;
      font-weight: bolder;
      font-size: 2rem;
      color: #fff; 
    }

    #close, #close-menu {
        display: none;
    }

    /* .options {
        display: block;
    } */

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        font-size: 22px;
    }

    /* .menu {
        display: block;
        position: absolute;
        right: 50px;
        font-size: 22px;
        font-weight: bolder;
    }  */

    .nav-links .nav-ul a {
        text-align: center;
 
}}


/* MEDIA QUERY FOR SMALL SCREEN RESPONSIVENESS */

@media screen and (min-width: 280px) and (max-width: 480px) {

    .navbar {
        width: 100%;
        /* position: relative; */
        padding: 5px;
    }

    .toogle-buttons {
        display: flex;
        position: absolute;
        left: -5px;
        font-size: 22px;
    } 
    
    .nav-links {
        display: none;
        position: absolute;
        top: 3.58rem;
        background: transparent;
        left: 0;
        width: unset;
    }

    .nav-links li a.active::after {
        display: none;
    }

    .toogle li {
        cursor: pointer;
    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: start;
        padding: 20px;
    }

    .nav-ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .contacts {
        display: none;
        position: absolute;
        top: 3.58rem;
        right: 0px;
        background: transparent;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }

    .contact-lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contacts .contact-lists li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
    }

    .contacts .contact-lists li a {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .btn {
        width: 100% ;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        /* max-width: 70px;
        height: 40px; */
        overflow: hidden;
        left: 35%;
    }
    
    .logo img {
        z-index: 111;
        width: 40px;
        height: 45px;
        object-fit: cover;
        /* margin-right: 10px; */
        border-radius: 30px 30px 40px 60px;
    }

    .logo .logo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Shadows Into Light", cursive;
      font-weight: bolder;
      font-size: 1.7rem;
      color: #fff; 
    }

    /* .options{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    #close, #close-menu {
        display: none;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 30px;
        font-size: 22px;
    }

    .nav-links .nav-ul a {
        text-align: center;
    }
}